<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-yellow.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
      .r{
        width: 100%;
      }
      a{
        text-decoration: none;
      }
      main{
          background-color: #bbb;
      }
      .mdl-card{
          border-radius: 7px;
      }
      .text{
        font-size: 15px;
        color: #aaa;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    </style>

  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">School Conect</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
              <a class="mdl-navigation__link" href="/find-friends">Намерете приятели</a>
              <a class="mdl-navigation__link" href="/notifications">Известия</a>
              <a class="mdl-navigation__link" href="/logout">Изход</a>
          </nav>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Моите приятели</a>
          <a href="#scroll-tab-2" class="mdl-layout__tab">Моите интереси</a>
        </div>
       </header>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="mdl-cell mdl-cell--4-col">

                <div class="r mdl-card mdl-shadow--8dp">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Моите приятели</h2>
                  </div>
                  <div class="mdl-card__supporting-text">

                    <ul class="demo-list-two mdl-list">
                      {% for friend in friends %}
                        <li class="mdl-list__item mdl-list__item--two-line">
                          <span class="mdl-list__item-primary-content">
                            <img src="/static/img/profile_pics/{{ friend.id }}.png" class="mdl-list__item-avatar">
                            <span>{{ friend.f_name }} {{ friend.l_name }}</span>
                          </span>
                          <span class="mdl-list__item-secondary-content">
                            <a href="/chat/{{ friend.id }}" class="mdl-button mdl-js-button mdl-button--primary">
                              Чат
                            </a>
                          </span>
                        </li>
                      {% endfor %}
                    </ul>


                  </div>
                </div>

              </div>
              <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
          <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="mdl-cell mdl-cell--4-col">
                    <div class="r mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title mdl-card--border">
                            <h2 class="mdl-card__title-text">Изберете интереси</h2>
                        </div>
                        <form action="/settings" method="post" enctype="multipart/form-data">
                          <div class="mdl-card__supporting-text">
                              {% for interest in interests %}
                                  <label for="{{ interest.id }}" class="mdl-checkbox mdl-js-checkbox">
                                      <input type="checkbox" id="{{ interest.id }}" name="{{ interest.id }}" class="mdl-checkbox__input" {% if str(interest.id) in user_interests %} checked {% endif %}>
                                      <span class="mdl-checkbox__label">{{ interest.name }}</span>
                                  </label>
                              {% endfor %}
                          </div>
                          <div class="mdl-card__title mdl-card--border">
                              <h2 class="mdl-card__title-text">Сложете профилна снимка</h2>
                          </div>
                          <div class="mdl-card__supporting-text">
                              <input type="file" accept="image/png image/jpg image/jpeg image/bmp" name="profile_pic">
                          </div>
                          <div class="mdl-card__actions">
                              <input type="submit" value="Запази промените" class="mdl-button--right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                          </div>
                        </form>
                        <div class="mdl-card__title  mdl-card--border">
                            <h2 class="mdl-card__title-text">Добави интерес</h2>
                        </div>
                        <form action='/add-interest' method="post">
                          <div class="mdl-card__supporting-text">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" id="name" name="name">
                                  <label class="mdl-textfield__label" for="name">Име на интереса</label>
                              </div>
                          </div>
                          <div class="mdl-card__actions">
                              <input type="submit" value="Добави интерес" class="mdl-button--right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                          </div>
                        </form>
                    </div>

              </div>
              <div class="mdl-cell mdl-cell--4-col"></div>
            </div>

          </div>
        </section>

      </main>
    </div>

  </body>
</html>
