<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-yellow.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/form_submitter.js"></script>

    <style>
      .r{ width: 100%; }
      main{
          background-color: #bbb;
      }
      .mdl-card{
          border-radius: 7px;
      }
      .text{
        font-size: 15px;
        color: #aaa;
      }
    </style>

  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        <!-- Title -->
            <span class="mdl-layout-title">SConnect</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Влез</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Регистрация</a>
        </div>
    </header>
    <!-- <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div> -->
    <main class="mdl-layout__content">

        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <form action="/login" method="post">
                            <div class="r mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Влез в профила си</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="email" name="email">
                                        <label class="mdl-textfield__label" for="email">Имейл</label>
                                        <label class="mdl-textfield__error" for="sample3">Имейл-ът не е валиден</label>
                                    </div>
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="password" id="passwd" name="passwd">
                                        <label class="mdl-textfield__label" for="passwd">Парола</label>
                                    </div>
                                </div>
                                <div class="mdl-card__actions">
                                    <input type="Submit" value="Влез" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col">

                        <form action="/register" method="post">
                            <div class="r mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Регистрация</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="f_name" name="f_name">
                                        <label class="mdl-textfield__label" for="f_name">Име</label>
                                    </div>
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="l_name" name="l_name">
                                        <label class="mdl-textfield__label" for="l_name">Фамилия</label>
                                    </div>
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="email" name="email">
                                        <label class="mdl-textfield__label" for="email">Имейл</label>
                                        <span class="mdl-textfield__error" for="email">Имейла не е валиден</span>
                                    </div>
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="password" name="passwd" id="passwd" oninput="$('#conf_passwd').attr('pattern', $('#passwd').val())">
                                        <label class="mdl-textfield__label" for="passwd">Парола</label>
                                    </div>
                                    <div class="r mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="password" id="conf_passwd">
                                        <label class="mdl-textfield__label" for="conf_passwd">Повторете паролата</label>
                                        <span class="mdl-textfield__error">Паролите не съвпадат</span>
                                    </div>
                                    <div class="text" style="margin-bottom: 5px;">В кое училище учите?</div>
                                    <select name="school">
                                      <option value="elsys">ТУЕС</option>
                                      <option value="ja">СПГЕ "Джон Атанасов"</option>
                                      <option value="smg">СМГ</option>
                                      <option value="npmg">НПМГ</option>
                                    </select>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <input type="submit" value="Регистрирай се" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>
            </div>
        </section>
        <div id="error-message" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
    </main>
    </div>
  </body>
</html>
